*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    position: absolute;
    z-index: 2;
    top: 0;
    left:0;

}

.nav img{
    width: 140px;
}

.nav ul li a{
    color: white;
}

.textoImagen{
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 100px;
    color: white;
}